:root {
    --black: #343a40; /* Usando un color oscuro como fondo principal */
    --gunmetal: #495057; /* Un tono oscuro para elementos de fondo como la barra de navegación */
    --almond: #f8f9fa; /* Un color claro para el texto que contraste bien con los colores oscuros */
    --khaki: #f0e68c; /* Un tono medio para detalles y acentos */
    --walnut-brown: #5e503f; /* Color oscuro para bordes y sombras */
}

body {
    background-color: var(--black);
    color: var(--almond);
    font-family: Arial, sans-serif;
}

.banner img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card {
    background-color: var(--gunmetal);
    border: none;
}

.card .card-img-top {
    width: 100%;
    height: 200px; /* Fija un alto constante para las imágenes de las tarjetas */
    object-fit: cover;
}

.card .card-title {
    color: var(--almond);
}

.card-body {
    background-color: var(--black);
}

.navbar {
    border-bottom: 3px solid var(--khaki);
}

.nav-link {
    color: var(--almond)!important; /* !important para asegurar que se aplique sobre los estilos por defecto de Bootstrap */
    font-size: 1.1em;
}

.nav-link:hover {
    color: var(--khaki)!important; /* Cambia el color al pasar el ratón */
}

@media (max-width: 768px) {
    .navbar-nav {
        text-align: center;
    }
}

@media (max-width: 992px) {
    .banner img {
        height: 300px; /* Altura menor para banners en tablets y dispositivos móviles */
    }
}

@media (max-width: 576px) {
    .card .card-img-top {
        height: 150px; /* Altura ajustada para imágenes en dispositivos muy pequeños */
    }
}
